@accent: #81be41;
@background: #ffffff;
@base: #ffffff;
@border-radius: 6px;
@dark: #000000;
@error: #e20000;
@fallback-texture: none;
@hover-background: #e0efd0;
@hover-gradient: "#81BE41";
@hover-text-color: #232323;
@image-folder: "https://kendo.cdn.telerik.com/2021.2.616/styles/Metro";
@info: #183d6e;
@inverse: #000000;
@is-dark-theme: false;
@light: #ffffff;
@normal-background: #ffffff;
@normal-gradient: none;
@normal-text-color: #232323;
@primary: #7ea700;
@secondary: #ffffff;
@selected-background: #e0efd0;
@selected-gradient: none;
@selected-text-color: #ffffff;
@series-a: #94f17f;
@series-b: #ff8e33;
@series-c: #7af5eb;
@series-d: #f2c94c;
@series-e: #e86be8;
@series-f: #acc9f3;
@success: #81be41;
@tertiary: #309b46;
@texture: none;
@theme-colors: {
    primary: #7ea700; 
    secondary: #ffffff; 
    tertiary: #309b46; 
    info: #0c779b; 
    success: #2b893c; 
    warning: #ffb137; 
    error: #e20000; 
    dark: #000000; 
    light: #ffffff; 
    inverse: #000000; 
};
@warning: #ff8e33;
@import "type-metro.less";