/*Global Styles*/

body * {
    box-sizing: border-box !important;
    clear: both !important;
}


/*#region global custom classes*/

.main-container-width {
    max-width: 1300px;
    margin: auto;
}

.shadow {
    -webkit-box-shadow: 3px 0px 6px 3px #9494943D;
    box-shadow: 3px 0px 6px 3px #9494943D;
}

.shadow-green {
    -webkit-box-shadow: 6px 6px 6px 1px #83BC4A3B;
    box-shadow: 6px 6px 6px 1px #83BC4A3B;
    -webkit-box-shadow: 1px -3px 15px 5px #83bc4a3b;
    box-shadow: 1px -3px 15px 5px #83bc4a3b;
}

.no-border {
    border: 0px !important;
}

.full-width {
    width: 100%;
}

.bold {
    font-weight: bold !important;
}

.back-white {
    background-color: #fff;
}


/*#endregion*/


/*#region kendo style overwrite*/

button,
div[role="button"] {
    font-size: 16px !important;
}

.k-animation-container {
    z-index: 10003;
}


/* kendo listview overite style */

.k-listview.k-listview-bordered {
    border: 0px;
}

.k-listview div[role="listitem"] {
    width: 100%;
    border: 1px solid #ccc;
}


/* kendo panelbar overite style */

.k-panelbar {
    margin-bottom: 5px;
}

.k-panelbar .k-link,
.k-menu-link.k-link {
    border-radius: 0px;
}

.k-panelbar>.k-item>.k-link,
.k-panelbar>.k-panelbar-header>.k-link {
    text-transform: none;
}


/* fix hover btn icons kendo */

.k-link {
    border-radius: 0 0.625rem 0.625rem 0;
}

.k-link-increase {
    border-radius: 0 0.625rem 0 0;
}

.k-link-decrease {
    border-radius: 0 0 0.625rem 0;
}


/* fix color btn arrow icons kendo */

.k-button .k-icon.k-i-arrow-e,
.k-button .k-icon.k-i-arrow-w {
    color: #fff;
}


/* fix height field kendo */

.k-widget input,
.k-widget select,
.k-numeric-wrap,
.k-dropdown-wrap,
.k-widget .k-select {
    height: 44px;
    font-size: 16px;
    margin-right: -1px;
}

.k-clear-value {
    height: calc( 1.5rem + 1.2rem);
}


/* fix 100% width for form field */

.k-datepicker,
.k-datetimepicker,
.k-timepicker,
.k-dateinput,
.k-textbox,
.k-combobox,
.k-slider-horizontal,
.k-maskedtextbox,
.k-numerictextbox,
.k-button {
    width: 100%;
}


/*#endregion*/


/*#region custom color text*/

.text-dark-blue {
    color: #183D6E;
}

.text-green {
    color: #81BE41 !important;
}

.text-light-gray {
    color: #7B7B7B !important;
}

.text-very-light-gray {
    color: #CED4DA !important;
}

.text-dark-gray {
    color: #3C3C3C !important;
}


/*#endregion*/


/*#region align text*/

.text-left {
    text-align: left !important;
}


/*#endregion*/


/*#region custom size text*/


/*fs-1*/

.size-40 {
    font-size: 40px !important;
    line-height: 44px !important;
    font-weight: 900 !important;
}


/*fs-2*/

.size-32 {
    font-size: 32px !important;
    line-height: 36px !important;
    font-weight: 900 !important;
}


/*fs-4*/

.size-24 {
    font-size: 24px !important;
    line-height: 26px !important;
    font-weight: 600 !important;
}


/*fs-5*/

.size-20 {
    font-size: 20px !important;
    line-height: 22px !important;
    font-weight: 600 !important;
}

.size-18 {
    font-size: 18px !important;
    line-height: 20px !important;
    font-weight: 600;
}


/*fs-6*/

.size-16 {
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: normal;
}


/*fs-0*/

.size-14 {
    font-size: 14px !important;
    line-height: 16px !important;
    font-weight: normal;
}

.size-12 {
    font-size: 12px !important;
    line-height: 14px !important;
    font-weight: normal;
}

@media only screen and (max-width: 1200px) {
    .size-20 {
        font-size: 16px !important;
        line-height: 18px !important;
        font-weight: normal;
    }
    .size-18 {
        font-size: 16px !important;
        line-height: 18px !important;
        font-weight: normal;
    }
}

@media only screen and (max-width: 992px) {
    .size-40 {
        font-size: 32px !important;
        line-height: 34px !important;
        font-weight: 900 !important;
    }
    .size-32 {
        font-size: 26px !important;
        line-height: 28px !important;
        font-weight: 900 !important;
    }
    .size-24 {
        font-size: 22px !important;
        line-height: 24px !important;
        font-weight: 600 !important;
    }
}


/*#endregion*/


/*#region delete of bootstrap stay start*/


/* .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-align-items-center {
    align-items: center;
}

.flex-align-items-end {
    align-items: flex-end;
}

.flex-align-items-stretch {
    align-items: stretch;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-justify-content-space {
    justify-content: space-between;
}

.flex-justify-content-end {
    justify-content: flex-end;
} */


/*#endregion*/


/*#region custom spaces*/


/*k-m-3*/

.mb12 {
    margin-bottom: 12px !important;
}

.mt12 {
    margin-top: 12px !important;
}


/*k-m-5*/

.mb20 {
    margin-bottom: 20px !important;
}

.mt20 {
    margin-top: 20px !important;
}


/*k-m-8*/

.mb32 {
    margin-bottom: 32px !important;
}

.mt32 {
    margin-top: 32px !important;
}


/*k-m-16*/

.mb64 {
    margin-bottom: 64px !important;
}

.mt64 {
    margin-top: 64px !important;
}

.p12 {
    padding: 12px !important;
}


/*#endregion*/